.button {
    display: block;
    font-weight: 700;

    padding: px-to-rem(12);
    text-align: center;

    background-color: $grey-700;
    width: 100%;
    border-radius: 8px;

    transition: all .3s ease;

    &:hover {
        background-color: $green;
        color: $grey-700;
    }
}